body{
    color: white;
}
img{
    /* -webkit-filter: invert(100%); /* Safari/Chrome */
    /* filter: invert(100%); */ 

    width: 96px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    border: 2px solid red;
    background-color: black;
    border-radius: 25px;

}
.one{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: none;
    list-style: none;
    float: left;
    position: relative;
    bottom:  131px;
    padding: 10px;
    margin-top: 41px;

}
.logo ul{
    margin-left: 75px;
    
}


    

.logo ul li a{
    text-decoration: none;
    color: white;
}
#one{
    position: absolute;
    right: 41px;
    top: 45px;
    width: 275px;
    height: 27px;
        border-radius: 30px;
        padding-left: 10px;
        border: 2px solid #1ff9688f;
        outline: none;
    
}