$myColor: red;

.main{

    .heading{

        h1 {
            //   $myColor: green;         //local variables
            $myColor: green !global;  //local variables
            color: $myColor;
        }  
        p {
            color: $myColor;
        }                               //nesting
    }
    ul{
        li{
            a{
                display: block;
                width: 100px;
                padding: 10px 20px;
                &:hover{
                    background-color: blueviolet;
                }
            }
        }
    }
}